/* Created by: Miles Wedeking */
html, body{
    margin: 0;
    padding: 0;
    color: #555;
}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

/* Main Header */
.main-header-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.main-header-container-background-image {
    position: absolute;
    height: 100%;
    width: 105%;
    object-fit: cover;
    z-index: -1;
    transform: translateZ(-10px) scale(2);
}

.main-header-header{
    color:white;
    text-align: center;
    font-size: 50px;
}

.main-header-nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-header-nav {
    display: inline;
    text-align: center;
    font-size: 25px;
}

.main-header-nav-list {
    padding: 0;
}

.main-header-nav-item {
    display: inline;
}

.main-header-nav-item a {
    display: inline-block;
    color: white;
    padding: .5em;
    text-decoration: none;
}

.main-header-nav-item a:hover {
    background-color: rgba(255, 255, 255, .3);
}

.main-header-resume-button {
    padding: 1em;
    cursor: pointer;
    color: white;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 50%;
    font-size: 1em;
}

.main-header-resume-button a {
    color: white;
    text-decoration: none;
}

.main-header-resume-button:hover {
    background-color: rgba(255, 255, 255, .3);
}

/* Section */
.section-container {
    margin: 3em;
    font-size: 20px;
    text-align: left;
    margin: 0 auto;
    padding: 0 auto;
    font-size: 1.4em;
    background-color:  white;
}

.section-container-header {
    text-align: center;
}

.section-container-content-container {
    margin: 100px;
}

.section-container-header {
    font-size: 2em;
}

.section-container-content-container-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-container-content-container-group-image{
    height: 400px;
    border-radius: 50%;
    margin: 25px;
}

.section-container-content-container-group-text {
    text-indent: 50px;
    margin: 25px;
}

/* Experience page */
.project-picture {
    width: 450px;
    height: 250px;
}

/* Not working */
/* .project-picture:hover {
    border-color: aqua;
    border-width: 10px;
} */

/* Main Footer */
.main-footer-container{
    display: flex;
    background-color: maroon;
    color: white;
    padding: 1em;
    text-align: center;
    bottom: 0;
}

.main-footer-container-image {
    max-width: 80px;
    max-height: 80px;
}

.main-footer-container-signature-container {
    margin-left: 29%;
    margin-right: 20%;
}

.main-footer-container-signature-container h4 {
    margin: 0;
}

form {
    margin: 0 auto 50px;
    background: maroon;
    display: flex;
    flex-direction: column;
    padding: 1vw;
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
}

form input, form textarea {
    border: 0;
    margin: 5px 0;
    padding: 5px;
    outline: none;
    font-size: 16px;
    font-family: sans-serif;
    border-radius: 5px;
}

form button {
    padding: 5px 35px 5px 35px;
    margin: 5px auto 0px;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
}

form button:hover {
    background-color: rgba(255, 255, 255, .7);
}

/* Page Format */
@media screen and (max-width: 1050px) {
    .section-container-content-container-group {
        display: block;
    }
}
